.main {
  width: 100vw;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;

  >.PlusBtn {
    position: absolute;
    bottom: 10%;
    left: 10%;
    border-radius: 20%;
  }

  >.SubmitBtn {
    position: absolute;
    width: fit-content;
    bottom: 10%;
    right: 10%;
  }


}