.main {
  position: relative;
  min-height: 100vh-7.5vh;
  /* Set minimum height to 100% of viewport height */
  background-image: url("../assets/bg.jpg");
  /* Replace 'your-image-url.jpg' with your actual image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align content to the top */
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  h1 {
    margin-top: 20px;
    /* Add margin to create space between navbar and content */
    margin-bottom: 20px;
    color: black;
  }

  h2 {
    margin-top: 20px;
    /* Add margin to create space between navbar and content */
    margin-bottom: 20px;
    color: black;
  }

  // .choosefile {
  //   margin: 10px;
  // }

  .file-inputs {
    flex-grow: 1;
    /* Allow file inputs to take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    /* Push container to the bottom */
  }

  .PlusBtn,
  .SubmitBtn {

    /* Adjust button width as needed */
    height: 40px;
    /* Adjust button height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      /* Adjust hover background color as needed */
    }
  }

  .PlusBtn {
    background-color: black;
    /* Adjust button background color as needed */
    margin: 20px;
  }

  .SubmitBtn {
    background-color: #28a745;
    margin: 20px;
    /* Adjust button background color as needed */
  }

  .FetchBtn {
    background-color: #007bff;
    margin: 20px;
  }
}

// @media (max-width: 576px) {

//   h1,
//   h2 {
//     font-size: 1.2rem; // Further decrease font size for headings on phones
//   }

//   .PlusBtn,
//   .SubmitBtn {
//     width: 80px; // Decrease button size for phones
//     height: 30px;
//     font-size: 1rem; // Decrease font size for buttons on phones
//   }
// }