.main {
    padding: 0px 10px 0px 0px;
    > .select {
      padding: 5px;
      margin-bottom: 2%;
      border-radius: 3px;
    }
  
    > .Uploadimage {
      padding-bottom: 2%;
    }
    > .form-outline .form-control ~ .form-label {
      color: white;
    }
  }
  