.bg {
  background-image: url("../assets/logo3.png");
  height: 92vh;
  max-width: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.app {
  background-image: url("../assets/bg.jpg");
  height: 100%;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Card1 {
  margin-top: 5%;
  width: 75%;
}
.Card2 {
  width: 75%;
  float: right;
}
.Card3 {
  padding-bottom: 5%;
  width: 75%;
}
.text-reset {
  color: rgb(255, 255, 255);
}

.but {
  display: grid;
  grid-template-columns: 1fr auto;
}

button {
  grid-column: 2;
}
